.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    margin: 0 0 20px 0;
}

/* Custom styling for the TextField components */
.MuiFormControl-root {
    width: 100%;
}

/* Style for the button */
.MuiButton-root {
    align-self: flex-end;
    margin-top: 20px;
}

.fieldsRow {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.yearField, .makeField {
    flex: 1;
}

.buttonsRow {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.custom-textfield .MuiInput-underline:before {
    border-bottom: 1px solid #000000; /* Change to your default color */
}

.custom-textfield .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #2297C5; /* Change to your desired hover color */
}

.custom-textfield .MuiInput-underline:after {
    border-bottom: 2px solid #E57373; /* Change to your focus color */
}