
.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.parentContainer {
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.TableContainer {
    overflow-x: auto;
}

.tablePaper {
    margin-top: 20px;
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
}

.squareAvatar {
    border-radius: 4px !important;
    width: 90px;  
    height: 90px;
}

.editButton {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #536C79 !important;
    margin-right: 5% !important;
}
.deleteButton {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #B00020 !important;
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 10px;
}

.paginationBorder {
    border-top: 20px solid #fefefe00;
    margin-bottom: 30px;
}

.customTableContainer {
    height: 787px; 
    overflow-y: auto;
}

@media (max-width: 768px) {
    .editButton {
        margin-bottom: 10px !important;
    }
}