
.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack children vertically */
    height: 100%; /* or adjust as required */
}

.parentContainer {
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.TableContainer {
    overflow-x: auto;
}

.tablePaper {
    margin-top: 20px; /* Adjust as needed */
    padding-top: 20px;
    width: 90%; /* To ensure table takes full width of its container */
    max-width: 1280px; /* or whatever maximum width you desire */
}

.squareAvatar {
    border-radius: 4px !important;
    width: 90px;  
    height: 9s0px;
}

.editButton {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* position to the left */
    margin-top: 10px;
}

.paginationBorder {
    border-top: 20px solid #fefefe00;
    margin-bottom: 30px;
}

.customTableContainer {
    height: 787px; /* Set this to a value that ensures the Pagination doesn't move */
    overflow-y: auto;
}